<div class="steam-container">
  <div *ngIf="cargando" class="status-msg-flat">Cargando detalles del sistema...</div>
  <div *ngIf="error" class="alert-flat-error">SISTEMA: {{ error }}</div>

  <div *ngIf="juego" class="game-view-flat">
    
    <header class="game-header-flat">
      <h1>{{ juego.nombreJuego }}</h1>
    </header>

    <div class="game-content-flat">
      <div class="hero-static-box">
        <img [src]="juego.urlImagen" class="hero-img" (error)="onImgError($event)">
      </div>

      <section class="info-section">
        <h3>Acerca de este juego</h3>
        <p>{{ juego.descripcion }}</p>
      </section>

      <section class="metadata-grid-flat">
        <div class="meta-row">
          <span class="meta-label">Precio</span>
          <span class="meta-value price-text">Q {{ juego.precio | number:'1.2-2' }}</span>
        </div>
        <div class="meta-row">
          <span class="meta-label">Lanzamiento</span>
          <span class="meta-value">{{ juego.fechaLanzamiento | date:'dd MMM, yyyy' }}</span>
        </div>
        <div class="meta-row">
          <span class="meta-label">Estado</span>
          <span class="meta-value">{{ juego.enVenta ? 'En Venta' : 'No disponible' }}</span>
        </div>
      </section>

      <section class="admin-action-flat">
        <h3>Panel de Clasificación</h3>
        
        <div class="admin-controls">
          <div class="field">
            <label>Cambiar Clasificación</label>
            <select [(ngModel)]="clasificacionSeleccionada" class="select-flat">
              <option *ngFor="let c of clasificaciones" [value]="c.idClasificacion">
                {{ c.nombreCalsificacion }}
              </option>
            </select>
          </div>

          <button class="btn-flat-system" (click)="cambiarClasificacion()">
            Actualizar
          </button>
        </div>
      </section>
    </div>
  </div>
</div>