<div class="report-content">
  <div class="report-view-header">
    <h3>Historial de Transacciones</h3>
    <p>Registro cronológico de adquisiciones y movimientos de cuenta.</p>
  </div>

  <div *ngIf="cargando" class="status-msg">
    Sincronizando con la billetera...
  </div>

  <div *ngIf="error && !cargando" class="alert-simple error">
    {{ error }}
  </div>

  <div *ngIf="!cargando && !error && historial.length === 0" class="empty-notif">
    Tu historial de transacciones está vacío.
  </div>

  <div *ngIf="!cargando && !error && historial.length > 0" class="data-list">
    <div class="log-meta">
      <span> Movimiento </span>
    </div>
    
    <div class="log-container-dark">
      <div *ngFor="let item of historial; let i = index" class="data-row">
        <div class="log-entry">
          <span class="log-text">{{ item }}</span>
        </div>
      </div>
    </div>
  </div>
  <button (click)="exportarJasper()">Exportar a pdf</button>
</div>