<div class="dev-game-container">
  <div *ngIf="juego" class="game-view-flat">
    
    <header class="header-flat">
      <div class="title-meta">
        <span class="system-label">Registro de Producto</span>
        <h2>{{ juego.nombreJuego }}</h2>
        <p class="price-meta">Precio: Q {{ juego.precio }}</p>
      </div>

      <div class="action-row-flat">
        <button class="btn-system-main" (click)="editarJuego()">Editar detalles</button>
        
        <button *ngIf="juego.enVenta" class="btn-system-outline error" (click)="suspenderVenta()">
          Suspender venta
        </button>
        <span *ngIf="!juego.enVenta" class="status-alert">[VENTA SUSPENDIDA]</span>
      </div>
    </header>

    <div class="content-body-flat">
      <div class="text-block">
        <h3 class="label-heading">Descripción</h3>
        <p>{{ juego.descripcion }}</p>
      </div>

      <div class="text-block">
        <h3 class="label-heading">Especificaciones Técnicas</h3>
        <p>{{ juego.especificaciones }}</p>
      </div>

      <section class="moderation-flat" *ngIf="comentariosRaiz.length">
        <div class="header-flat-small">
          <h3>Feedback del Cliente</h3>
          <span class="count-meta">{{ comentariosRaiz.length }} hilos</span>
        </div>

        <div class="comments-list-flat">
          <app-comentario
            *ngFor="let c of comentariosRaiz"
            [comentario]="c"
            [puedeResponder]="false"
            [puedeOcultar]="true"
            (comentarioOcultado)="cargarComentarios(juego.id)"
          >
          </app-comentario>
        </div>
      </section>
    </div>

  </div>
</div>