<div class="report-content">
  <div class="report-view-header">
    <h3>Mejor calificados por la comunidad</h3>
    <p>Títulos de tu biblioteca con el mayor índice de satisfacción global.</p>
  </div>

  <div *ngIf="cargando" class="status-msg">Consultando ranking global...</div>
  <div *ngIf="error" class="alert-simple error">{{ error }}</div>

  <div class="data-list" *ngIf="!cargando && juegos.length > 0">
    <div class="data-row" *ngFor="let juego of juegos; let i = index">
      
      <div class="game-info-cell">
        <span class="code-badge">{{ i + 1 }}  .</span>
        
        <img [src]="juego.portada" alt="" class="mini-thumb">
        
        <div class="game-name-meta">
          <span class="name">{{ juego.nombre }}</span>
        </div>
      </div>

      <div class="score-cell">
        <span class="score-number">{{ juego.promedio | number:'1.1-1' }}</span>
        <span class="score-max">/ 5.0</span>
      </div>
    </div>
        <button (click)="exportarJasper()">Exportar a pdf</button>
  </div>

  <div *ngIf="!cargando && juegos.length === 0" class="empty-notif">
    No hay suficientes datos de calificación para generar este ranking.
  </div>
</div>