<div class="report-content-view">
  <div class="report-header-flat">
    <h3>Títulos con Menor Valoración</h3>
    <p>Registro de títulos con promedio de satisfacción por debajo del estándar.</p>
  </div>

  <div *ngIf="cargando" class="status-msg-flat">
    SISTEMA: Recuperando métricas de rendimiento bajo...
  </div>

  <div *ngIf="error" class="alert-flat-error">
    ERROR_SISTEMA: {{ error }}
  </div>

  <div class="table-container-flat" *ngIf="juegos.length > 0">
    <table >
      <thead>
        <tr>
          <th style="width: 50px;">Pos.</th>
          <th>Título del Juego</th>
          <th class="text-right">Total Críticas</th>
          <th class="text-right">Promedio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let j of juegos; let i = index">
          <td>{{ i + 1 }}</td>
          <td class="cell-bold">{{ j.nombre }}</td>
          <td class="text-right">{{ j.totalResenas }}</td>
          <td class="text-right cell-warning">{{ j.promedio }} / 5.0</td>
        </tr>
      </tbody>
    </table>
        <button (click)="exportarJasper()">Exportar a pdf</button>
  </div>

  <div class="status-msg-flat" *ngIf="!cargando && juegos.length === 0 && !error">
    NO_DATA: No se registran títulos con calificaciones críticas.
  </div>
</div>