<div class="report-content-view">
  <div class="report-header-flat">
    <h3>Estado de Ingresos y Transacciones</h3>
    <p>Desglose técnico de volumen de ventas y liquidación de utilidades netas.</p>
  </div>

  <div *ngIf="cargando" class="status-msg-flat">
    SISTEMA: Recuperando registros de transacciones financieras...
  </div>

  <div *ngIf="error" class="alert-flat-error">
    ERROR_CONTABLE: {{ error }}
  </div>

  <div class="table-container-flat" *ngIf="ventas.length > 0">
    <table>
    <thead>
      <tr>
        <th>Nombre Juego</th>
        <th class="text-right">Precio base</th>
        <th class="text-right">Porcentaje</th>
        <th class="text-right">Comisión tomada</th>
        <th class="text-right">Ganancia bruta</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let v of ventas">
        <td class="cell-bold">{{ v.nombreJuego }}</td>
        <td class="text-right">Q {{ v.precio | number:'1.2-2' }}</td>
        <td class="text-right">{{ v.porcentaje }}</td>
        <td class="text-right">Q {{ v.comision | number:'1.2-2' }}</td>
        <td class="text-right cell-bold">Q {{ v.ingresosNetos | number:'1.2-2' }}</td>
      </tr>
    </tbody>
  </table>
    <button (click)="exportarJasper()">Exportar a pdf</button>
  </div>

  <div class="status-msg-flat" *ngIf="!cargando && ventas.length === 0 && !error">
    REGISTRO_VACIO: No se detectan movimientos financieros en el periodo.
  </div>
</div>