<div class="report-content-view">
  <div class="report-header-flat">
    <h3>Ranking: Top 5 Títulos</h3>
    <p>Consolidado de los cinco juegos con mayor índice de desempeño histórico.</p>
  </div>

  <div *ngIf="cargando" class="status-msg-flat">
    SISTEMA: Ejecutando algoritmos de jerarquización...
  </div>

  <div *ngIf="error" class="alert-flat-error">
    ERROR_SISTEMA: {{ error }}
  </div>

  <div class="table-container-flat" *ngIf="top5.length > 0">
    <table >
      <thead>
        <tr>
          <th style="width: 50px;">Rango</th>
          <th>Título del Juego</th>
          <th class="text-right">Promedio (Max 5.0)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let juego of top5; let i = index">
          <td>{{ i + 1 }}</td>
          <td class="cell-bold">{{ juego.nombre }}</td>
          <td class="text-right cell-bold">{{ juego.promedio }}</td>
        </tr>
      </tbody>
    </table>
        <button (click)="exportarJasper()">Exportar a pdf</button>

  </div>

  <div class="status-msg-flat" *ngIf="!cargando && top5.length === 0 && !error">
    NO_DATA: Registros insuficientes para el procesamiento de ranking.
  </div>
</div>