<div class="catalogo-container">
  <header class="header-flat">
    <div class="header-text">
      <h2>Catálogo de Publicaciones</h2>
      <p>Gestión de títulos registrados en el sistema.</p>
    </div>
    <div class="stats-text" *ngIf="catalogo.length > 0">
      {{ catalogo.length }} Registros totales
    </div>
  </header>

  <div class="game-list-flat" *ngIf="catalogo.length > 0">
    <div class="game-item-flat" *ngFor="let juego of catalogo">
      <div class="game-info">
        <span class="game-name">{{ juego.nombreJuego }}</span>
        <span class="game-price">Q {{ juego.precio }}</span>
        <span class="status-msg" *ngIf="!juego.enVenta">[VENTA SUSPENDIDA]</span>
      </div>
      
      <button class="btn-system-flat" (click)="verDetalle(juego.id)">
        Ver detalle
      </button>
    </div>
  </div>

  <div class="empty-notif" *ngIf="catalogo.length === 0">
    <p>SISTEMA: No hay juegos publicados en el catálogo.</p>
  </div>
</div>