<div class="report-content-view">
  <div class="report-header-flat">
    <h3>Mejores Comentarios de la Comunidad</h3>
    <p>Registro de reseñas destacadas por valoración de usuario.</p>
  </div>

  <div *ngIf="error" class="alert-flat-error">
    SISTEMA: {{ error }}
  </div>

  <div class="table-container-flat" *ngIf="comentarios.length > 0">
    <table >
      <thead>
        <tr>
          <th>Juego</th>
          <th>Usuario</th>
          <th>Reseña</th>
          <th class="text-right">Calificación</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let c of comentarios">
          <td class="cell-bold">{{ c.juego }}</td>
          <td>{{ c.usuario }}</td>
          <td class="cell-italic">"{{ c.comentario }}"</td>
          <td class="text-right">{{ c.calificacion }} / 5</td>
        </tr>
      </tbody>
    </table>
        <button (click)="exportarJasper()">Exportar a pdf</button>

  </div>

  <div class="status-msg-flat" *ngIf="comentarios.length === 0 && !error">
    No se han encontrado registros de comentarios en el periodo actual.
  </div>
</div>