<div class="edit-game-page">
  <header class="header-flat">
    <div class="header-content">
      <h2>Editor de Producto</h2>
      <p>Modificación de parámetros técnicos y comerciales.</p>
    </div>
    <button type="button" class="btn-system-outline" (click)="volver()">Regresar</button>
  </header>

  <div class="status-msg-flat error" *ngIf="error">SISTEMA: {{ error }}</div>
  <div class="status-msg-flat success" *ngIf="mensaje">SISTEMA: {{ mensaje }}</div>

  <form (ngSubmit)="guardarCambios()" class="form-flat">
    
    <div class="form-section-flat">
      <h3 class="label-heading">Información General</h3>
      <div class="field-group">
        <label>Nombre del Juego</label>
        <input [(ngModel)]="nombre" name="nombre" placeholder="Nombre oficial">
      </div>

      <div class="field-group">
        <label>Descripción</label>
        <textarea [(ngModel)]="descripcion" name="descripcion" rows="3"></textarea>
      </div>
    </div>

    <div class="form-grid-flat">
      <div class="field-group">
        <label>Clasificación</label>
        <select [(ngModel)]="clasificacion" name="clasificacion">
          <option *ngFor="let c of clasificaciones" [value]="c.idClasificacion">{{ c.nombreCalsificacion }}</option>
        </select>
      </div>

      <div class="field-group">
        <label>Categoría</label>
        <select [(ngModel)]="categoria" name="categoria">
          <option *ngFor="let c of categorias" [value]="c.idCategoria">{{ c.nombreCategoria }}</option>
        </select>
      </div>

      <div class="field-group">
        <label>Precio (Q)</label>
        <input type="number" [(ngModel)]="precio" name="precio" step="0.01">
      </div>

      <div class="field-group">
        <label>Lanzamiento</label>
        <input type="date" [(ngModel)]="fechaLanzamiento" name="fechaLanzamiento">
      </div>
    </div>

    <div class="form-section-flat">
      <h3 class="label-heading">Multimedia</h3>
      <div class="upload-zone-flat">
        <input type="file" (change)="onFileChange($event)" id="file-input">
        <label for="file-input"></label>
      </div>
    </div>

    <div class="form-footer-flat">
      <button type="submit" class="btn-system-main">Guardar cambios</button>
      <button type="button" class="btn-system-outline" (click)="volver()">Cancelar</button>
    </div>
  </form>
</div>