<div class="admin-report-detail">
  <header class="report-meta-header">
    <div class="title-group">
      <h3>Top Coleccionistas</h3>
      <p>Usuarios con mayor número de licencias adquiridas.</p>
    </div>
  </header>

  <div *ngIf="cargando" class="msg-system">Escaneando bibliotecas...</div>
  <div *ngIf="error" class="error-system">ERROR: {{ error }}</div>

  <div class="report-table-container" *ngIf="!cargando && usuarios.length > 0">
    <table class="table-flat-minimal">
      <thead>
        <tr>
          <th class="text-center">Posición</th>
          <th>Usuario</th>
          <th class="text-right">Total Títulos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of usuarios; let i = index">
          <td class="text-center">{{ i + 1 }}</td>
          <td>{{ u.usuario }}</td>
          <td class="text-right">{{ u.totalJuegos }}</td>
        </tr>
      </tbody>
    </table>
    <button (click)="exportarJasper()">Exportar a pdf</button>
  </div>

  <div class="msg-system" *ngIf="!cargando && usuarios.length === 0 && !error">
    No se encontraron datos de actividad.
  </div>
</div>